.row
  .col-sm-3
    %strong
      = t 'simple_form.labels.animal.breed'
  .col-sm-9= @animal.breed_name
.row
  .col-sm-3
    %strong
      = t 'simple_form.labels.animal.description'
  .col-sm-9= @animal.description