@import "bootstrap-sprockets";
@import "bootstrap";
@import "sub_menu";


header{
  height: 65px;
  text-align: center;
  width: 100%;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

header .dropdown{
  line-height: 65px;
}

body{
  background-color: #f5f5f5;
  color: #999999;
  height: 100%;
  width: 100%;
}

footer{
  height: 50px;
  width: 100%;

  -webkit-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 2px 0px rgba(0,0,0,0.75);
}

#body-content{
  margin: 10px auto;
  width: 900px;
}

#flash{
  margin: 5px auto;
  width: 350px
}

.action{
  margin: 0 4px;
}

.links {
  margin: 10px 0 5px;
  min-height: 50px;
  padding: 5px 0;
}

.links a{
  line-height: 25px;
}

#preview{
  display: none;
  width: 250px;
}

.image-detail{
  width: 100%
}

.image-list{
  width: 25px
}

.table-with-image td{
  line-height: 25px !important;
}

#animals-wrapper{
  max-height: 350px;
  overflow-y: auto;
}

.btn-submit{
  margin-top: 15px;
  width: 100%;
}